<div class="page-header">
  <h1>Welcome to Ski Mask Stories <small>where people share their craziest stories</small></h1>
</div>

<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="<%= image_path "skimask.jpg" %>"/></div>
  <div class="col-md-8">
    <h2>But there are rules to telling stories here</h2>

    <ul>
      <li>All storytellers must wear a ski mask or other head covering to remain anonymous</li>
      <li>All stories must be TRUE</li>
      <li>All stories must be told in the first person (if you friend has an awesome story, make them tell it)</li>
      <li>All stories must be under FIVE minutes</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>What type of story should I tell?</h3>

    <p>It's amazing how liberating a ski mask can make one feel. 

      <p> Telling a story here is completely anonymous, so the raunchiest, funniest, most embarrasing stories and encouraged here. </p>

    <p> <b> Top things to avoid telling in a story </b> </p>

    <p> <ol>
      <li>Using people's real names: please use pseudonyms</li>
      <li>Outright attacking anynone</li>
      <li>All racist remarks; c'mon you're better than that</li>
    </ol>

    <p> <b> Now that you're read the rules, let's get started! </b></p>
  </div>
  <div class="col-md-4"><img class="img-responsive" src="<%= image_path "storytotell.jpg" %>"/></div>
  <div class="col-md-4"><img class="img-responsive" src="<%= image_path "preview.png" %>"/></div>
</div>

