
<!DOCTYPE html>
<html lang="en">
    <head>
        
<h1> Watch Embarrasing Stories Here </h1>



    
      
                                            <link rel="stylesheet" href="https://f.vimeocdn.com/styles/css_opt/global/icon_fonts.min.css?462e770">

	<link rel="stylesheet" href="https://f.vimeocdn.com/styles/css_opt/global_combined.min.css?be080db0">
	<link rel="stylesheet" href="https://f.vimeocdn.com/styles/css_opt/browse.min.css?3abc2cb6">
	<link rel="stylesheet" href="https://f.vimeocdn.com/styles/css_opt/categories.min.css?4ef57f4c">
<noscript>
    <link rel="stylesheet" href="https://f.vimeocdn.com/styles/css_opt/nojs.min.css?462e770">
</noscript>
    <script>
        var js_css = document.createElement('style');
        js_css.innerHTML = '#site_header .submenus{position:absolute;top:58px;width:100%;height:0;overflow:hidden}#site_header nav>ul>li>ul,#site_header .submenus>ul{position:absolute;left:0;display:none;width:980px}#site_header nav>ul>li>ul.active,#site_header .submenus>ul.active{display:block}#site_header nav>ul>li>ul.condensed li,#site_header .submenus>ul.condensed li{width:136px}#site_header nav>ul>li>ul.expanded li,#site_header .submenus>ul.expanded li{width:175px}.peekaboo td dd,.peekaboo th dd{display:none}.fading_revolver{position:relative}.fading_revolver li{filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;position:absolute;top:0;left:0}.fading_revolver li+li{margin-top:0!important}.fading_revolver .active{filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;z-index:1}#house_badges{height:100px}#info .description.collapsed{max-height:170px;overflow:hidden}#info .description.collapsed:after{content:"";display:block;height:100px;width:100%;position:absolute;left:0;bottom:-50px;background-image:linear-gradient(bottom,#f4f5f7 0%,#f4f5f7 50%,rgba(244,245,247,0)100%);background-image:-o-linear-gradient(bottom,#f4f5f7 0%,#f4f5f7 50%,rgba(244,245,247,0)100%);background-image:-moz-linear-gradient(bottom,#f4f5f7 0%,#f4f5f7 50%,rgba(244,245,247,0)100%);background-image:-webkit-linear-gradient(bottom,#f4f5f7 0%,#f4f5f7 50%,rgba(244,245,247,0)100%);background-image:-ms-linear-gradient(bottom,#f4f5f7 0%,#f4f5f7 50%,rgba(244,245,247,0)100%)}#info .more{display:inline-block;position:relative;z-index:1}.film .description_wrapper .description.collapsed{overflow:hidden;max-height:260px}.film .description_wrapper .description.collapsed.episode{max-height:140px}.film .more{display:inline-block;position:relative;z-index:1}.featured_list .description,.simple_accordion .description{height:0;overflow:hidden}#contact_support .part_2,#contact_support .part_3{display:none}select.skinned_dropdown{visibility:hidden}';
        document.getElementsByTagName('head')[0].appendChild(js_css);
    </script>
            <style>
                    #ribbon, .body_ribbon, .svg_ribbon, .default_lightbox header>h1, .default_lightbox header>h6, .default_lightbox header>.lightbox_heading, .default_lightbox .masthead, .upload_progress .inner .bar, .vod_lightbox:before { background:url
            </style>
    
<
</script>
    <script>
        var GlobalNotifications = [{"id":"facebook_disconnect","message":"Your Facebook connection has expired. <a href=\"\/settings\/apps?action=connect&service=facebook\" target=\"_blank\">Click here to continue sharing<\/a>."}];
    </script>
        
    
    <script>
        var googletag = googletag || {},
            gptadslots = [];
        googletag.cmd = googletag.cmd || [];

        (function() {
            var gads = document.createElement('script'),
                useSSL = 'https:' == document.location.protocol,
                node;
            gads.async = true;
            gads.type = 'text/javascript';
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();

        googletag.cmd.push(function() {
                                                                    gptadslots[0] = googletag.defineSlot('/54549544/general/categories/comedy', [[300,250]], 'div-gpt-ad-1268187745').setTargeting('p', ['ATF']);

                    
                    gptadslots[0].addService(googletag.pubads());
                            
            googletag.pubads().setTargeting('sec', ['true']);
            googletag.pubads().enableAsyncRendering();
            googletag.enableServices();
        });
    </script>


    </head>
    <!-- Force any HTML comments inject by third parties to close -->
    <body>
        <div id="wrap">
            
            
            <div id="ribbon"></div>

            <div id="main">
                <div id="menu_wrapper">
                                                                <div id="brozar_toggle_wrapper" class="en"></div>

                          
                            </li>
                        </ul>
                           </a>
                            </li>
                        </ul>
                    </li>

<                     
                      
						<div class="data">
                            <h2>
                                <a href="/categories/comedy">
                                    Comedy                                </a>
                            </h2>

    						    							Explore <a href="/categories/comedy/videos">Videos</a>, <a href="/categories/comedy/channels">Channels</a>, <a href="/categories/comedy/groups">Groups</a>, and <a href="/categories/comedy/relatedpeople">People</a> related to    							    								    								<a href="/categories/comedy/standup">Stand Up</a>,    							    								    								<a href="/categories/comedy/comedyseries">Series</a>,    							    								    								<a href="/categories/comedy/comedyshorts">Shorts</a>,    							    								 and    								<a href="/categories/comedy/slapstick">Slapstick</a>    							    											   </div>
					</li>
                </ul>
            </section>
        
                    <a name="videos"></a>
            <section class="block">
                <h2>Videos <var>(<a href="/categories/comedy/videos">24.5K</a>)</var></h2>
                <ul class="js-browse_list browse browse_videos browse_videos_thumbnails" data-stream="category:3:weight:DESC">
                                                                                            <li  id="clip_6186953">
                            <a href="/6186953" title="Dear Sister">
                                <img src="https://i.vimeocdn.com/video/22526437_295x166.jpg" alt="" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        Dear Sister                                    </p>
                                    <p class="meta">
                                        <time datetime="2009-08-19T21:47:08-04:00" title="Wednesday, August 19, 2009 9:47 PM">4 years ago</time>                                    </p>
                                </div>
                            </a>
                        </li>
                                                                                            <li class="last" id="clip_32748327">
                            <a href="/32748327" title="Crafty - short film">
                                <img src="https://i.vimeocdn.com/video/221767629_295x166.jpg" alt="" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        Crafty - short film                                    </p>
                                    <p class="meta">
                                        <time datetime="2011-11-27T15:14:18-05:00" title="Sunday, November 27, 2011 3:14 PM">2 years ago</time>                                    </p>
                                </div>
                            </a>
                        </li>
                                                                                            <li  id="clip_33261372">
                            <a href="/33261372" title="Los Quehaceres (The Chores)">
                                <img src="https://i.vimeocdn.com/video/449128535_295x166.jpg" alt="" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        Los Quehaceres (The Chores)                                    </p>
                                    <p class="meta">
                                        <time datetime="2011-12-06T22:04:56-05:00" title="Tuesday, December 6, 2011 10:04 PM">2 years ago</time>                                    </p>
                                </div>
                            </a>
                        </li>
                                                                                            <li class="last" id="clip_9173328">
                            <a href="/9173328" title="Dead at Work">
                                <img src="https://i.vimeocdn.com/video/44742850_295x166.jpg" alt="" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        Dead at Work                                    </p>
                                    <p class="meta">
                                        <time datetime="2010-02-02T23:52:47-05:00" title="Tuesday, February 2, 2010 11:52 PM">4 years ago</time>                                    </p>
                                </div>
                            </a>
                        </li>
                                                                                            <li  id="clip_2809991">
                            <a href="/2809991" title="Star Wars: Retold (by someone who hasn&#039;t seen it)">
                                <img src="https://i.vimeocdn.com/video/418975200_295x166.jpg" alt="" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        Star Wars: Retold (by someone who hasn&#039;t seen it)                                    </p>
                                    <p class="meta">
                                        <time datetime="2009-01-12T21:45:47-05:00" title="Monday, January 12, 2009 9:45 PM">5 years ago</time>                                    </p>
                                </div>
                            </a>
                        </li>
                                                                                            <li class="last" id="clip_37701488">
                            <a href="/37701488" title="Playing (Life) Pig">
                                <img src="https://i.vimeocdn.com/video/259117404_295x166.jpg" alt="" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        Playing (Life) Pig                                    </p>
                                    <p class="meta">
                                        <time datetime="2012-02-29T18:35:43-05:00" title="Wednesday, February 29, 2012 6:35 PM">2 years ago</time>                                    </p>
                                </div>
                            </a>
                        </li>
                                    </ul>
            </section>
        
                    <a name="channels"></a>
            <section class="block">
                <h2>Channels <var>(<a href="/categories/comedy/channels">12.1K</a>)</var></h2>
                <ul class="js-browse_list browse browse_videos browse_videos_thumbnails" data-stream="channel:3:total_subscribers:DESC">
                                             <li  id="channel_124049">
                            <a href="/channels/mindjuice" title="Mind Juice">
                                <img src="https://i.vimeocdn.com/video/473799936_295x166.jpg" alt="Mind Juice" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        Mind Juice                                    </p>
                                    <p class="meta">
                                        529 Videos / 2,236 Subscribers                                    </p>
                                </div>
                            </a>
                        </li>
                                            <li class="last" id="channel_264818">
                            <a href="/channels/christeene" title="CHRISTEENE">
                                <img src="https://i.vimeocdn.com/video/439913953_295x166.jpg" alt="CHRISTEENE" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        CHRISTEENE                                    </p>
                                    <p class="meta">
                                        10 Videos / 113 Subscribers                                    </p>
                                </div>
                            </a>
                        </li>
                                    </ul>
            </section>
        
                    <a name="groups"></a>
            <section class="block">
                <h2>Groups <var>(<a href="/categories/comedy/groups">1,871</a>)</var></h2>
                <ul class="js-browse_list browse browse_videos browse_videos_thumbnails" data-stream="group:3:total_memberes:DESC">
                                                                    <li id="group_28626" >
                            <a href="/groups/28626" title="Comedy">
                                <img src="https://i.vimeocdn.com/video/474883980_295x166.jpg" alt="" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        Comedy                                    </p>
                                    <p class="meta">
                                        1,636 Videos / 415 Members                                    </p>
                                </div>
                            </a>
                        </li>
                                                                    <li id="group_40245" class="last">
                            <a href="/groups/truecoug" title="TRUE COUG: the web-series">
                                <img src="https://i.vimeocdn.com/video/64989148_295x166.jpg" alt="" class="thumbnail thumbnail_lg_wide">
                                <div class="data">
                                    <p class="title">
                                        TRUE COUG: the web-series                                    </p>
                                    <p class="meta">
                                        3 Videos / 39 Members                                    </p>
                                </div>
                            </a>
                        </li>
                                    </ul>
            </section>
        
                    <a name="people"></a>
            <section class="block">
                <h2>People <var>(<a href="/categories/comedy/relatedpeople">636</a>)</var></h2>
                <ul class="js-browse_list browse browse_people browse_people_thumbnails">
                                                <li >
                                <a href="/jamiew" title="/jamiew">
                                    <img src="https://i.vimeocdn.com/portrait/729360_100x100.jpg" alt="Jamie Dubs" class="portrait portrait_xlg">
                                    <div class="data">
                                        <p class="title">Jamie Dubs</p>
                                        <p class="meta">Has 7 videos in <a href="/channels/fat">FAT Lab</a></p>
                                    </div>
                                </a>
                            </li>
                                                    <li >
                                <a href="/caseydonahue" title="/caseydonahue">
                                    <img src="https://i.vimeocdn.com/portrait/5030007_100x100.jpg" alt="Casey Donahue" class="portrait portrait_xlg">
                                    <div class="data">
                                        <p class="title">Casey Donahue</p>
                                        <p class="meta">Has 16 videos in <a href="/channels/vimeohq">Vimeo, the company</a></p>
                                    </div>
                                </a>
                            </li>
                                                    <li >
                                <a href="/justin" title="/justin">
                                    <img src="https://i.vimeocdn.com/portrait/802096_100x100.jpg" alt="justinsuperstar" class="portrait portrait_xlg">
                                    <div class="data">
                                        <p class="title">justinsuperstar</p>
                                        <p class="meta">Has 24 videos in <a href="/channels/indymogul">Indy Mogul</a></p>
                                    </div>
                                </a>
                            </li>
                                                    <li >
                                <a href="/ptrm" title="/ptrm">
                                    <img src="https://i.vimeocdn.com/portrait/4297415_100x100.jpg" alt="Peter McArthur" class="portrait portrait_xlg">
                                    <div class="data">
                                        <p class="title">Peter McArthur</p>
                                        <p class="meta">Has 3 videos in <a href="/channels/vimeohq">Vimeo, the company</a></p>
                                    </div>
                                </a>
                            </li>
                                                    <li class="last">
                                <a href="/chrisgarcia" title="/chrisgarcia">
                                    <img src="https://i.vimeocdn.com/portrait/1872733_100x100.jpg" alt="Chris Garcia" class="portrait portrait_xlg">
                                    <div class="data">
                                        <p class="title">Chris Garcia</p>
                                        <p class="meta">Has 16 videos in <a href="/channels/comedy">LOL COOL J (Comedy on Vimeo)</a></p>
                                    </div>
                                </a>
                            </li>
                                                            </ul>
            </section>
        
                    <a name="tags"></a>
            <section class="block">
                <h2>Tags</h2>
                <ul class="tags">
                                            <li><a rel="tag" href="/tag:comedy">comedy</a></li>
                                            <li><a rel="tag" href="/tag:funny">funny</a></li>
                                            <li><a rel="tag" href="/tag:humor">humor</a></li>
                                            <li><a rel="tag" href="/tag:sketch">sketch</a></li>
                                            <li><a rel="tag" href="/tag:parody">parody</a></li>
                                            <li><a rel="tag" href="/tag:short">short</a></li>
                                            <li><a rel="tag" href="/tag:spoof">spoof</a></li>
                                            <li><a rel="tag" href="/tag:short+film">short film</a></li>
                                            <li><a rel="tag" href="/tag:Improv">Improv</a></li>
                                            <li><a rel="tag" href="/tag:film">film</a></li>
                                    </ul>
            </section>
        
                    </div>

    <div class="col_small">
        	<section class="block">
		<h4 class="boxed_heading green">Browse this Category</h4>

		<ul class="ruled_list compact_ruled_list arrow_list super_link_list">
							<li>
					<a href="/categories/comedy/standup" >
						 <p class="super_link_list_title"> Stand Up</p>
					</a>
				</li>
							<li>
					<a href="/categories/comedy/comedyseries" >
						 <p class="super_link_list_title">Series</p>
					</a>
				</li>
							<li>
					<a href="/categories/comedy/comedyshorts" >
						 <p class="super_link_list_title">Shorts</p>
					</a>
				</li>
							<li>
					<a href="/categories/comedy/slapstick" >
						 <p class="super_link_list_title">Slapstick</p>
					</a>
				</li>
					</ul>
	</section>

        <div class="block gpt_ad" role="complementary">
    
    <div id="div-gpt-ad-1268187745">
        <script>
                                googletag.cmd.push(function() {
                                            googletag.display('div-gpt-ad-1268187745');
                    });
                    </script>
    </div>
</div>

                    </ul>
    </section>
        <section class="block">
    <h4 class="gray">About Categories</h4>
    <img src="https://f.vimeocdn.com/images_v6/icon_categories_md.png" alt="Categories" class="insert" />
    <p><a href="/categories">Categories</a> make it easy to find the things on Vimeo that interest you. Explore Categories to discover videos, people, and more, all organized by theme.</p>
</section>


</script>

    <script src="https://f.vimeocdn.com/js_opt/vimeo/controllers/player/player_manager.min.js?ec534463"></script>
    <script>
        if (typeof playerAssetUrls !== 'undefined') {
                            PlayerManager.run(playerAssetUrls);
                    }
    </script>

    <script src="https://f.vimeocdn.com/js_opt/global_combined.min.js?bbc7353d"></script>
    <script src="https://f.vimeocdn.com/js_opt/logging_combined.min.js?41a2105e"></script>

    <script async src="https://sb.scorecardresearch.com/beacon.js"></script>
    <script async src="https://stats.g.doubleclick.net/dc.js"></script>
    <script>
            window.addEvent('domready', function() {
                
                            
                PlayerManager.dispatchReadySignals();
            
                    });
    </script>


        </body>
</html>