

<div class="bubble">
<br/>
<br/>
<center>


  <h1>We all love listening to stories</h1> 

  
  <p>But I <i>just don't know</i> where to find them on the <b>internet</b>.</p>
  <p>
    <a class="btn btn-primary btn-lg" role="button" href="/about">Learn more 
<span class="glyphicon glyphicon-book"></span>
    </a>



    <a class="btn btn-danger btn-lg" role="button" href="https://www.facebook.com/">Nah, take me back to Facebook
<span class="glyphicon glyphicon-fire"></span>
    </a>


  </p>

  <div>
</center>

</br>
</br>
</br>
</br>
</br>
</br>
</br>


  <div class="col-md-4"><img class="img-responsive" src="<%= image_path "business.jpg" %>" width="300" height ="400"/></div>







<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52880816-1', 'auto');
  ga('send', 'pageview');

</script>









<style>




.bubble 
{
position: relative;
width: 750px;
height: 300px;
padding: 27px;
background: #9FE096;
-webkit-border-radius: 80px;
-moz-border-radius: 80px;
border-radius: 80px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 65px 79px 0;
border-color: #9FE096 transparent;
display: block;
width: 0;
z-index: 1;
bottom: -65px;
left: 188px;





