
<center>

<h1> How to Upload a Video to SkiMaskStories </h1>
</center>

<div class="jumbotron">

 <h4> 1. Record your video
 	<h4> 2. Click on this button <h4>

 	  </a><a class="btn btn-success btn-lg" role="button" href="http://dbinbox.com/malley/">Upload
<span class="glyphicon glyphicon-upload"></span>
    </a>

<h4> 3. You will be asked to enter an access code: Ski Mask Stories

<h4> 4. Drag your video file into the box

<h4> 5. Your story will be reviewed and then posted in the "Watch Stories" channel

<h4>	6. Along with uploading your video include a <b> title </b> and your <b>username </b> <h4>

</div>

<style>
.jumbotron{
    background-color: #FFFF99;
    color: Black;

}

body
{
background-color:#CC99FF;
}
</style>

