<h1> Watch User Uploaded Stories Here </h1>

	<div class="jumbotron">

	<h2>I Am The Machine </h2>

	<iframe width="560" height="315" src="//www.youtube.com/embed/MhPddKb8Pxg" frameborder="0" allowfullscreen></iframe>
	</div>

</div>

<style>
.jumbotron{
	background-color: #99FFFF;
	color: Black;

}
</style>

